.formControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.formControl label {
    margin-bottom: .6em;
    font-weight: bold;
}

.formControl input {
    padding: .7em;
    border-radius: 0;
    border: none;
}

.formControl input::placeholder {
    color: #4d4a4a;
}

.formControl input:focus-visible {
    outline: none;
}